# Introduction to Python Basics

Welcome to the first seminar of the course "Introduction to PyTorch". This notebook will cover basic Python concepts that will be helpful as we move forward with PyTorch.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operations
Let's start with some basic arithmetic operations in Python.

In [2]:
# Addition
a = 10
b = 20
sum = a + b
print("Sum:", sum)

Sum: 30

In [3]:
# Subtraction
difference = a - b
print("Difference:", difference)

Difference: -10

In [4]:
# Multiplication
product = a * b
print("Product:", product)

Product: 200

In [5]:
# Division
quotient = a / b
print("Quotient:", quotient)

Quotient: 0.5

In [6]:
# Exponent
exp = a ** 2
print("Exponent:", exp)

Exponent: 100

In [7]:
# Modulus
mod = a % b
print("Modulus:", mod)

Modulus: 10

## Data Types and Variables
Python supports various data types. Let's explore some of the common ones.

In [9]:
5 // 3

1

In [13]:
# Integer
num = 1e-4
print("Integer:", num, type(num))

Integer: 0.0001 <class 'float'>

In [14]:
# Float
pi = 3.14
print("Float:", pi, type(pi))

Float: 3.14 <class 'float'>

In [15]:
# String
text = "Hello, PyTorch!"
print("String:", text, type(text))

String: Hello, PyTorch! <class 'str'>

In [16]:
# Boolean
flag = True
print("Boolean:", flag, type(flag))

Boolean: True <class 'bool'>

## Lists
Lists are used to store multiple items in a single variable.

In [17]:
# Creating a list
fruits = ["Apple", "Banana", "Orange"]
print("List:", fruits)

List: ['Apple', 'Banana', 'Orange']

In [18]:
fruits

['Apple', 'Banana', 'Orange']

In [19]:
# Accessing elements
print("First Element:", fruits[0])

First Element: Apple

In [20]:
fruits[-1]

'Orange'

In [21]:
# Adding an element
fruits.append("Mango")
print("List after append:", fruits)

List after append: ['Apple', 'Banana', 'Orange', 'Mango']

In [22]:
# Remove an element
fruits.remove("Banana")
print("List after remove:", fruits)

List after remove: ['Apple', 'Orange', 'Mango']

In [23]:
# Slicing a list
print("Sliced List[1:3]:", fruits[1:3])

Sliced List[1:3]: ['Orange', 'Mango']

In [24]:
a = [1, 2, 3]
b = a

In [27]:
b

[1, 2, 3]

In [28]:
a.append(7)
b

[1, 2, 3, 7]

In [35]:
len(b)

4

## Dictionaries
Dictionaries are used to store data values in key:value pairs.

In [29]:
# Creating a dictionary
student = {
    "name": "John",
    "age": 21,
    "course": "Computer Science"
}
print("Dictionary:", student)

Dictionary: {'name': 'John', 'age': 21, 'course': 'Computer Science'}

In [30]:
# Accessing values
print("Name:", student["name"])

Name: John

In [31]:
# Adding a new key-value pair
student["grade"] = "A"
print("Dictionary after adding grade:", student)

Dictionary after adding grade: {'name': 'John', 'age': 21, 'course': 'Computer Science', 'grade': 'A'}

In [32]:
# Removing a key-value pair
del student["age"]
print("Dictionary after removing age:", student)

Dictionary after removing age: {'name': 'John', 'course': 'Computer Science', 'grade': 'A'}

## Loops
Loops are used to execute a block of code repeatedly.

In [33]:
# For loop
for i in range(5):
    print("Iteration", i)

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

In [34]:
for name in ["A", "B", "C"]:
    print(name)

A
B
C

In [36]:
# While loop
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

## Functions
Functions are blocks of code that only run when they are called.

In [37]:
# Defining a function
def greet(name):
    return f"Hello, {name}!", 123, ["A"]

In [38]:
# Calling a function
print(greet("Alice"))

('Hello, Alice!', 123, ['A'])

## Classes

Classes are important in machine learning

In [40]:
class Car:
    def __init__(self, year=1900):
        print("Creating a car")
        self.year = year

    def i_am_car(self):
        print(f"I am car, {self.year}")

In [41]:
class Ford(Car):
    def __init__(self, year=1900):
        super().__init__(year)
        print("Creating Ford")

In [42]:
car = Ford(year=1998)

Creating a car
Creating Ford

In [43]:
car.i_am_car()

I am car, 1998